@charset "UTF-8";

:root{
    --cor001: #F2E3D5;
    --cor002: #3CA6A6;
    --cor003: #026773;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, var(--cor001), var(--cor003));
    }
    section#login{
        width: 80vw;
    }

    section#login div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login div#formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to top, var(--cor001), var(--cor003));
    }
    section#login{
        width: 950px;
    }

    section#login div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login div#formulario{
        float: right;
        width: 50%;
    }
}

